<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >


<listeners>
<listener class-name="Practice.E2EProject.Listeners"/>
</listeners>

  <test name="Test">
    <classes>
      <class name="Practice.E2EProject.Home"/>
      </classes>
      </test>
      <test name="Validating Title">
      <classes>
      <class name="Practice.E2EProject.ValidatingTitle"/>
      </classes>
      </test>
      
      <test name="Checking Register Button">
      <classes>
      <class name="Practice.E2EProject.ValidatingRegisterButton"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
